body{
    background: #AD3030;
    overflow: auto;
}
.navbar{
    width: 2540px;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid silver;
}
.menu{

    padding-left: 60px;
    position: absolute;
    left: 70%;

}
.menu ul li{

    list-style: none;
    display: inline-block;
    margin: 0px 20px;


}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.logo{
    position: absolute;
    height: 100px;
    cursor: pointer;
    left: 50px;
    border-bottom: 2px solid black;
}
.contenido{
    position: absolute;
    width: 1000px;
    height: 2200px;
    left: 1000px;
    top: 220px;
}
.contenido h2{
    color: white;
    font-size: 40px;
    
}
.detalle input{
    width: 600px;
    height: 60px;
    font-size: 16px;
    border: 3px solid white;
    background: none;
    margin-bottom: 15px;
}
.correo input{
    width: 600px;
    height: 60px;
    font-size: 16px;
    border: 3px solid white;
    background: none;
    margin-bottom: 15px;
}
.botonProc a{
    text-decoration: none;
    background: white;
    color: #AD3030;
    font-size: 30px;
    
}
.contenido p{
    color: white;
    margin-top: 50px;
    font-size: 20px;  
}