@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}
body{
    background: #AD3030;
    overflow: auto;
}
.container{
    background-position: center;
    background-size: cover;
    background-repeat: none;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    position: absolute;
}
.navbar{
    width: 2540px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid silver;
}
.secciones{
    width: 200px;
    height: 500px;
    border-right: 2px solid silver;
    margin-top: 10px;
}
.secciones h2{
    margin-top: 15px;
    
}
.secciones h2 a{
    font-size: 40px;
    text-decoration: none;
    color: white;
    
}/* position: absolute;
    text-align: center;
    background: black;
    top:450px;
    left: 350px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;*/

.logo{
     position: absolute;
    height: 100px;
    cursor: pointer;


}
nav{

    padding-left: 60px;
    position: absolute;
    left: 70%;



}
nav ul li{

    list-style: none;
    display: inline-block;
    margin: 0px 20px;


}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color:white;

}

.fondo{
    width: 400px;
    position: absolute;
    left: 40%;

}