@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:ital,wght@1,300&family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Itim', cursive;
    box-sizing: border-box;

}
body{
    background: #DEDEDE;
    height: 100vh;
    overflow: hidden;
}
.top{
    background:linear-gradient(120deg,red,#DA2727) ;
    height: 15vh;
    overflow: hidden;
}
.logo{
    height: 9vh;
    cursor: pointer;
}

.center{

    position: absolute;
    top:40%;
    left:50%;
    width: 800px;
    height: 550px;
    background:linear-gradient(120deg,gray,#ABA7A7) ;
    border-radius: 10px;
    transform: translate(-50%,-50%);

}
.center h1{

    text-align: center;
    border-bottom: 2px solid silver;
    padding: 20px 0;
    color: white;
    background:  linear-gradient(120deg,black,#413F3F);

}
.center form{

    padding: 40px 40px;
    box-sizing: border-box;
    background: none;
}
form .txt_field{

    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0

}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border-bottom: white;
    background: none;

}
.botonLogin a{
    position: absolute;
    text-align: center;
    background: black;
    top:75%;
    left: 45%;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

