/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 feb. 2023, 18:24:07
    Author     : criss
*/
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}
body{
    background: #AD3030;
    overflow: auto;
}
.barra{
    position: absolute;
    width: 100%;
    height: 120px;
    margin-top: -110px;
    background-position: center;
    position: fixed;
    z-index: 100;
    float: left;
}
.navbar2{
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background: #AD3030;
    border-bottom: 3px solid black;

}

.navbar2 img{
    position: absolute;
    margin-left: 15px;
}

.menu{
    position: absolute;
    left: 70%;
}
.navbar2 nav ul li{
    margin-right: 20px;
    list-style: none;
    display: inline-block;
}
.navbar2 nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color:white;
}

.educación{
    margin-top: 90px;
    width: 50vw;
    transform: translateX(-100px);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;

}
.ecologico{
    margin-top: 400px;
    width: 50vw;
    transform: translateX(-100px);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
.Seguros{
    margin-top: 100px;
    width: 50vw;
    transform: translateX(-100px);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.educación h1{
    border-bottom: 2px solid silver;
    margin-top: -500px;
    margin-left: 15px;
    font-size: 40px;
}
.educación img{
    height: 350px ;
    width: 350px;
    margin-left: 200px;
    margin-top:100px;
}
.Grado nav ul li{

    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    margin-top: 15px;


}

.Grado nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color:black;


}
.ecologico h1{
    border-bottom: 2px solid silver;
    font-size: 40px;
    margin-top: -550px;
    margin-left:15px ;

}
.ecologico img{
    height: 350px ;
    width: 350px;
    margin-left: 200px;
    margin-top: 250px ;
}
.Grado1 nav ul li{

    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    margin-top: 15px;


}

.Grado1 nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color:black;


}
.Seguros h1{
    border-bottom: 2px solid silver;
    margin-top: -550px;
    margin-left: 15px;
    font-size: 40px;
}
.Seguros img{
    height: 350px ;
    width: 350px;
    margin-left: 200px;
    margin-top: 450px ;
    padding: 30px 30px;
}
.Grado2 nav ul li{

    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    margin-top: 15px;

}


.Grado2 nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color:black;


}